@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
	@apply container mx-auto;
}

.active {
	@apply text-[18px] tracking-wide text-[#F08E00] transition-colors duration-200 hover:text-blue-500 font-inter font-medium;
}

.mobileActive {
	@apply font-bold text-[16px] tracking-wide text-[#F08E00] transition-colors duration-200 hover:text-[#F08E00] font-inter;
}

.default {
	@apply text-[16px] tracking-wide text-white transition-colors duration-200 hover:text-blue-500 font-inter font-semibold;
}

.mobileDefault {
	@apply font-bold text-[16px] tracking-wide text-[#F08E00] transition-colors duration-200 hover:text-blue-500 font-inter;
}

.btn-submit {
	@apply bg-[#F08E00] hover:bg-blue-500 text-white font-bold py-4 w-full rounded font-inter;
}

.btn-add {
	@apply bg-blue-500 hover:bg-[#F08E00] text-white font-bold py-4 w-full rounded font-inter;
}

.btn-error {
	@apply text-xl text-white bg-[#F08E00] hover:bg-blue-500 font-inter font-medium py-4 px-5 rounded-lg;
}

.drawer-side a.active {
	color: #f08e00 !important;
}

.drawer-side a {
	color: white !important;
	background-color: transparent !important;
	font-size: 16px;
	font-family: "Inter", sans-serif;
}

.drawer-side a:hover {
	color: white !important;
	background-color: transparent !important;
}

.btn-role {
	@apply bg-blue-600 hover:bg-[#f08e00] py-3 px-4 text-white font-inter rounded-lg font-medium;
}

.btn-ins {
	@apply bg-[#f08e00] hover:bg-blue-600 py-3 px-4 text-white font-inter rounded-lg font-medium;
}
